body
{
    font-family: 'Montserrat';
    font-weight: 600;
    margin: 0;
    background-color: var(--background-primary);

    scrollbar-color: rgba(100, 100, 100, 0.6) rgba(0, 0, 0, 0.2);
    scrollbar-width: thin;
}

::-webkit-scrollbar 
{
    width: 12px;
    height: 12px;
}
  
::-webkit-scrollbar-thumb 
{
    background-color: rgba(100, 100, 100, 0.6);
    border-radius: 6px;
    border: 3px solid rgba(0, 0, 0, 0.8);
}
  
::-webkit-scrollbar-track 
{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}
  
::-webkit-scrollbar-thumb:hover 
{
    background-color: rgba(150, 150, 150, 0.8);
}