.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: -1;
    display: flex;
    flex-direction: column;
    opacity: 80%;
}

.svg {
    width: 100%;
    height: 100vh; /* Full viewport height */
    flex: 1 0 auto; /* Ensures it grows as needed */
}
